.top-navbar {
    background-color: $third-color;

    .container {
        display: flex;
        justify-content: flex-end;
        h6 {
            color: $first-color;
            margin: $spacing * 0.5 0 $spacing * 0.5 $spacing * 2;
            text-transform: uppercase;
            i {
                font-size: 13px;
            }
        }
    }
}

.navbar {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        .logo-container {
            padding: $spacing;
            img {
                width: 80px;
            }
        }
        ul {
            display: flex;
            li {
                margin: 0 $spacing 0 $spacing;
                text-transform: uppercase;
                a {
                    color: $fourth-color;
                }
            }
        }
    }
}

.jumbotron-container {
    height: 400px;
    overflow: hidden;
    img {
        width: 100%;
    }
}
