$spacing: 10px;

$first-color: #FFFFFF;;
$second-color: #1C1C1C;
$third-color: #0382F9;
$fourth-color: #303030;
$fifth-color: #797979;
$sixth-color: #00A9D9;
$seventh-color: #003F5E;
$eighth-color: #55BA59;
$eighth-color-opacized: #90e093;
$nineth-color: #F6F6F6;

